.header-nav-bar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  align-items: center;
  padding: 10px 0;
}

.header-nav-bar img {
  max-width: 100%;
}

.profile {
  padding: 0 10px;
}

.logo {
  width: 40px;
}

.header-nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header-nav-bar li {
  display: inline-block;
  padding: 0 20px;
}

.header-nav-bar .link {
  color: black;
  font-weight: bold;
}

.header-nav-bar .link:active {
  color: #3b7efe;
}
