.content-items {
  padding: 0 20px;
}

.items-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);

  grid-gap: 20px;
}

@media screen and (min-width: 481px) {
  .items-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 769px) {
  .items-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1201px) {
  .items-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
