.page-button {
  border-radius: 2px;
  border-style: solid;
  padding: 5px 15px;
  border-radius: 5px;
}

.page-button:hover {
  cursor: pointer;
}

.page-activ-button {
  border-color: #dadbe3;
  background-color: #ecf7f5;
  color: #63bbad;
}

.page-activ-button:hover {
  border-color: #3b7efe;
  color: #3b7efe;
}

.page-disabled-button {
  border-color: #999999;
  background-color: #cccccc;
  color: #666666;
}

.page-disabled-button:hover {
  cursor: default;
}
