.item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 10px auto;
  padding: 5px 5px;

  width: 150px;
  border-radius: 10px;
  background-color: transparent;
  border-bottom: 2px solid darkblue;
  border-top: 2px solid darkblue;
}

.item:active {
  border-bottom: 2px solid #3b7efe;
  border-top: 2px solid #3b7efe;
}

.item img {
  max-width: 100%;
  border-radius: 10px;
  /* border-top-left-radius: 10px;
  border-top-right-radius: 10px; */
}

.item-title {
  margin: 0;
  text-align: center;
  color: #5a5c75;
}

.item-author {
  margin: 5px 5px;
  color: #bbbbc6;
}

.item-raiting {
  text-align: right;
  color: #5a5c75;
  margin: 0;
  padding: 0 10px;
}
