.items-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
}

.content-load {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;

  &--faild {
    display: flex;
    justify-content: center;
  }

  span {
    font-weight: bold;
    font-size: small;
  }
}

@media screen and (min-width: 481px) {
  .items-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 769px) {
  .items-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .content-load {
    gap: 35px;

    span {
      font-size: medium;
    }
  }
}

@media screen and (min-width: 1028px) {
  .content-load {
    gap: 55px;
  }
}

@media screen and (min-width: 1201px) {
  .items-grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .content-load {
    gap: 80px;
  }
}

@media screen and (min-width: 1601px) {
  .items-grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .content-load {
    gap: 120px;

    span {
      font-size: large;
    }
  }
}
