.serach-bar {
  display: flex;

  .serach-bar__input {
    background-color: #f8f9fd;
    padding: 8px 13px;
    border-radius: 15px;
    outline: none;
  }

  .search-input {
    width: 65%;
    border: 2px solid #dadbe3;

    &:focus {
      border: 2px solid #3b7efe;
    }
  }

  #sort-list {
    margin-left: auto;
    background-color: #f8f9fd;
    border: 2px solid #dadbe3;
    border-radius: 15px;
    width: 20%;
    outline: none;
    box-sizing: unset;
    padding-left: 10px;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}
