.page-navigation {
  text-align: center;
  padding: 30px 10px;

  &__value {
    margin: auto 0;
    font-weight: bold;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    user-select: none;
  }
}
