.page-navigation {
  text-align: center;
  padding: 30px 10px;
}

.page-navigation ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.page-navigation li {
  user-select: none;
}

.page-navigation-value {
  margin: auto 0;
  font-weight: bold;
}
